VITE_SUPABASE_URL=https://ziwkberfwctlvlwejznc.supabase.co
VITE_SUPABASE_KEY=eyJhbGciOiJI....(tu key completa)
VITE_GOOGLE_CLIENT_ID=190984074535-01jfm3brrtn17qqeb258klt1mv0qqi0k.apps.googleusercontent.com
VITE_DRIVE_ROOT_FOLDER=0B9ZOcVkjNKRIYndnQmlFaFJoWjQ
VITE_DRIVE_RESOURCE_KEY=0-vYqYv5R5_d6msUcjKmoSOw
