VITE_SUPABASE_URL=https://ziwkberfwctlvlwejznc.supabase.co
VITE_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inppd2tiZXJmd2N0bHZsd2Vqem5jIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE1MjI1NTEsImV4cCI6MjA4NzA5ODU1MX0.MCALDM7gFOyIVuRQjis2rTP_FIsx-7deRJs-799Hm-8
VITE_GOOGLE_CLIENT_ID=190984074535-01jfm3brrtn17qqeb258klt1mv0qqi0k.apps.googleusercontent.com
VITE_DRIVE_ROOT_FOLDER=0B9ZOcVkjNKRIYndnQmlFaFJoWjQ
VITE_DRIVE_RESOURCE_KEY=0-vYqYv5R5_d6msUcjKmoSOw
